
body {
    background-color: #24282a;
    color: #cccccc;
    font-family: "Josefin Sans", serif;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #1f2022;
    width: 100%;
    z-index: 1000;
    text-decoration: none;
    box-shadow: 0 5px 5px rgba(14, 13, 13, 0.1);
}

.nav-container-logo {
    height: 80px;
    margin-left: 12px;
}

.logo-img {
    height: 80px;
}

.nav-ul { 
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 24px;
}

.nav-link{
    text-decoration: none;
    color: #cccccc;
}

.nav-ul-li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    height: 100%;
    padding: 0 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-link:visited {
    color: #cccccc;
}

main {
    margin-top: 80px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    min-height: 550px;
}

.header-container-title {
    margin: 25vh 5vw;
}

.header-container-logo {
    width: 357px;
    height: 420px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-services{
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 550px;
}


.section-container-services {
    display: flex;
    justify-content: center;
}

.section-container-services-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 70px;
    padding: 20px;
    border: 4px solid #f05116;
    border-radius: 10px;
}

.services-h3 {
    margin: 0 0 24px 0;
    font-size: 22px;
}

.services-ul {
    list-style: none;
    margin-right: 24px;
}

.services-ul-li {
    margin: 20px 0;
    font-size: 18px;
}

.section-aboutUs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 500px;
}

.section-aboutUs-p {
    padding: 40px;
    margin:24px ;
    border: 4px solid #f05116;
    border-radius: 10px;
    max-width: 800px;
}

#Contactanos {
    margin: 30px;
}

.section-contactUs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 500px;
}

.form-container-input {
    display: flex;
    flex-direction: column;
    text-align: left; 
}

.form-label{
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 1px;
}

.form-input{
    padding: 10px 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: #EDFFF0;
    border: 2px #F0FAF1;
    color: #283629; 
    outline: none;
}

.form-textarea{
    padding: 10px 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: #EDFFF0;
    border: 2px #F0FAF1;
    color: #283629; 
    outline: none;
}

 input::placeholder, textarea::placeholder {
    color: #b5cab6;
 }

.form-button {
    font-size: 16px;
    color: white;
    width: 250px;
    height: 20px;
    border: 0;
    border-radius: 25px;
    background-color: #f05116;
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.5);
    cursor: pointer;
}

.form-button:hover{
    background-color: rgba(255, 140, 0, 1);

}

.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: #f05116;
    padding-top: 20px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #1f2022;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 -5px 5px rgba(14, 13, 13, 0.1);
}

.footer-text {
    padding: 0px 18px;
}

.footer-link {
    text-decoration: none;
    color: white;
    padding: 0px 18px;
}

.section-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 55px;
    min-height: 500px;
    text-align: center;
    border: 4px solid #f05116;
    border-radius: 15px;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 0.5rem;
    }

    .nav-ul {
        flex-direction: column;
        margin: 0;
    }

    .nav-ul-li {
        padding: 0.5rem;
        font-size: 16px;
    }

    header {
        flex-direction: column;
    }

    .header-container-title {
        margin: 185px 38px 20px 38px
    }

    .logo-transparent {
        height: 100%;
        margin: auto;
    }

    .section-container-services {
        flex-direction: column;
    }

    .section-container-services-ul {
        margin: 20px;
        padding: 15px;
    }

    .form-container-input {
        width: 200px;
    }

    .section-form {
        max-width: 400px;
        width: 95%;
        padding: 30px 20px;
    }

    .form-button {
        width: 100%;
    }

    .footer-container {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .nav-ul-li {
        font-size: 14px;
    }

    .section-aboutUs-p {
        padding: 15px;
    }

    .form-button {
        font-size: 14px;
    }

    .section-form {
        padding: 20px 15px;
        width: 90%;
        max-width: 300px;
    }
}